# System
.DS_Store
Thumbs.db
# I try to make this version not change but it vary, so become version
# Logs
*.log

# Node
node_modules/

# Python
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# Build
dist/
build/
*.class
*.o
*.exe

